<div data-controller="modal" data-modal-allow-background-close="false" class="p-4">
  <a href="#" data-action="click->modal#open" class="<%= button_class %>">
    <%= title %>
  </a>

  <!-- Modal Container -->
  <div data-target="modal.container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
    <!-- Modal Inner Container -->
    <div class="max-h-screen w-full max-w-lg relative">
      <!-- Modal Card -->
      <div class="m-1 bg-white rounded shadow">
        <%= modal_body %>
      </div>
    </div>
  </div>
</div>
