<% if obj.errors.any? %>
  <h2 class="card-title">
    <%= pluralize(obj.errors.count, "error") %>
    prohibited this article from being saved:
  </h2>
  <% obj.errors.full_messages.each do |msg| %>
    <div class="card-body">
      <ul>
        <li><%= msg %></li>
      </ul>
    </div>
  <% end %>
<% end %>
