<header class="flex items-center mb-3 pb-4">
  <div class="flex justify-between items-end w-full">
      <p class="text-muted text-base font-light text-gray">
        <%= link_to "My Projects", projects_path %> <%= current_path ? " / #{current_path}" : "" %>
      </p>
      <%= link_to "New Project", new_project_path, class: 'button' %>
  </div>
</header>
